:root {
    --color: #2f4f4f;
}
body {
    padding-top: 70px;
    color: var(--color);
}
header {
    background-color: white !important;
}
header img {
    position: relative;
    height: 80%;
    width: auto;
}
/* Log in */
.background {
    position: absolute;
    width: auto;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.login-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Index */
.logo {
    margin: 50px;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 400px;
    height: auto;
}
hr {
    border-top: 1px solid var(--color);
}
.sekcija {
    margin: 50px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2f4f4f;
    border-radius: 10px;
    padding: 20px;
}
.nijeclan {
    text-align: center;
}
.table {
    margin: 50px;
}
.table table {
    width: 100%; 
    text-align: center;
}
/* Rezervacije */
.grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.grid div.card-basic-out img {
    width: 150px; 
    height: 150px; 
    border-radius: 10px;
    transition: border-radius .5s;
}
.grid div.card-basic-out:hover img {
    border-radius: 0;
}
/* Znamenitosti */
.listakomentara {
    margin: 70px 0;
}
.komentar {
    margin-top: 20px;
    border: 1px solid #2f4f4f;
    border-radius: 10px;
    padding: 20px;
    color: #2f4f4f;
}
.komentar span {
    margin-left: 10px;
    font-size: 1.75em;
}
.opis {
    margin: 50px;
}
.opis .galerija {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.opis .galerija img {
    margin: 20px;
    width: 250px;
}
/* Izveštaj */
.ostaviKomentar {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ostaviSliku {
    margin: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputfile {
    width: 120px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.inputfile + label {
    color: #2f4f4f;
    border-top: 1px solid #2f4f4f;
    border-right: 1px solid #2f4f4f;
    border-bottom: 1px solid #2f4f4f;
    border-radius: 0 10px 10px 0;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
}
.selektovanaSlika {
    opacity: 0;
    transition: opacity .5s;
}
.galerija {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.galerija .izv, .galerija .img img{
    transition: border-radius .5s;
}
.galerija .izv:hover, .galerija .img:hover img{
    border-radius: 0px;
}
.galerija .izv {
    width: 210px;
    border: 1px solid #2f4f4f;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    margin: 10px;
}
.galerija .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.galerija .img img {
    width: 250px;
    border-radius: 10px;
}